.coursesEdit {
    padding: 0px 45px;
}

.coursesEdit ul {
    margin: 0;
}

.coursesEdit #input {
    margin: 5px 0px 5px 15px;
    padding: 15px;
    border-radius: 0px;
}

.coursesEdit textarea {
    width: 50%;
}

